* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:visited {
  padding: 10%;
}

.index {
  font-family: 'Merriweather', serif;
}

h1, h2{
  backdrop-filter: blur(2px);
  padding: 1%;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
}

#image {
  height: auto;
  width: 30%;
}

.content {
  background-image: url("/img/fondo-index.png");
  max-width: 1100px;
  width: 100%;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 5%;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  backdrop-filter: blur(2px);
}

.categorias {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.busquedas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.busquedas .trabajadores {
  width: 27%;
  margin: 2% 3%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.22);

  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
}

.categorias .trabajos {
  width: 23%;
  margin: 1% 1%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.22);

  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;

  transition: all 0.4s;
}

.trabajos-todos {
  width: 98%;
  margin: auto;
  flex-wrap: wrap;
}

.trabajos-todos .btn {
  padding: 5%;
}

.empleadores {
  background-color: #e7f1f8b7;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.form {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.form1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-content: center;
  background: linear-gradient(-90deg, #c77c0c, #eeb10a);;
}

.form2 {
  display: grid;
  justify-content: space-around;
  align-content: center;
  background: rgba(0, 0, 0);
}

@media screen and (max-width: 1100px) {
  .categorias .trabajos {
    width: 30%;
    margin: 2.5% 1.5%;
  }

  .busquedas .trabajadores {
    width: 40%;
    margin: 2% 5%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.22);
  }
}

@media screen and (max-width: 900px) {
  .categorias {
    width: 100%;
  }

  .categorias .trabajos {
    width: 30%;
  }
  .busquedas .trabajadores {
    width: 100%;
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 700px) {
  .categorias {
    margin: 10%;
  }
  .categorias .btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    display:grid!important;
  }
}

@media screen and (max-width: 600px) {
  .btn-warning,
  .btn-warning:hover,
  .btn-warning:active,
  .btn-warning:visited {
    padding: 10%;
  }
  .categorias .trabajos {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .categorias .trabajos {
    width: 100%;
    margin-left: 0px;
  }
}


/* CAROUSEL & EMAIL SENDER */

@media (min-width: 1030px) {
  .carousel-item>a>img {
      max-height: 600px;
      object-fit: cover;
  }
}
.txt-white {
  color: white;
}
#contact {
background-color: #F8F9F9;
}
section#contact .section-heading {
color: #111;
}
section#contact form#contactForm .form-group {
margin-bottom: 1.5rem;
}
section#contact form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
padding: 1.25rem;
}
section#contact form#contactForm .form-group input.form-control {
height: auto;
}
section#contact form#contactForm .form-group-textarea {
height: 100%;
}
section#contact form#contactForm .form-group-textarea textarea {
height: 100%;
min-height: 10rem;
}
section#contact form#contactForm p.help-block {
margin: 0;
}
section#contact form#contactForm .form-control:focus {
border-color: #657786;
box-shadow: none;
}
section#contact form#contactForm ::-webkit-input-placeholder {
font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-weight: 500;
color: #ced4da;
}
section#contact form#contactForm :-moz-placeholder {
font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-weight: 500;
color: #ced4da;
}
section#contact form#contactForm ::-moz-placeholder {
font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-weight: 500;
color: #ced4da;
}
section#contact form#contactForm :-ms-input-placeholder {
font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-weight: 500;
color: #ced4da;
}

/* ICONOS REDES */
.whastapp {
  color: #25D366;
}
.facebook {
  color: #4267B2;
}
.twitter {
  color: #1DA1F2;
}
.mail {
  color: #657786;
}