<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:include="fragments/componentes.html :: head"></th:block>
      <title>Crear empleo</title>
    </head>
<body>
    <!-- NAV -->
    <div th:replace="/fragments/componentes.html :: navbar"></div>

    <!-- Formulario -->
    <div class="container mb-5">
        <div class="row justify-content-center">
            <form th:action="@{/empleador/crear-empleo}" class="col-10 my-3" method="POST" >
                <div class="row g-3">
                    <div class="col-lg-4"></div>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <label class="form-label fw-bolder" for="titulo">Titulo del trabajo</label>
                        <input type="text" id="titulo" name="titulo" class="form-control" placeholder="Busco ..." autofocus required>
                    </div>
                    <div class="col-lg-4"></div>

                    <div class="col-lg-4"></div>
                    <div class="col-sm-6 col-md-6 col-lg-4 justify-content-center">
                        <label class="form-label fw-bolder" for="oficio">Oficio requerido</label>
                        <div class="col-md-6">
                            <select name="oficio" id="oficio">
                                <option selected>selecionar</option>
                                <option th:each="oficioOpt : ${T(com.Grupo9.ProyectoFinal.Enum.Oficio).values()}"
                                th:values="${oficioOpt}"
                                th:text="${oficioOpt}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4"></div>

                    <div class="col-lg-4"></div>
                    <div class="col-4 col-lg-4">
                        <label class="form-label fw-bolder" for="zona">Zona</label>
                        <div class="col-md-6">
                            <select name="zona" id="zona">
                                <option selected>selecionar</option>
                                <option th:each="zonaOpt : ${T(com.Grupo9.ProyectoFinal.Enum.Zona).values()}"
                                th:values="${zonaOpt}"
                                th:text="${zonaOpt}" th:selected="${zonaOpt==zona}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4"></div>

                    <div class="col-lg-4"></div>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="mb-3">
                            <label for="descripcion" class="form-label fw-bolder">Descripcion de trabajo.</label>
                            <textarea class="form-control" name="descripcion" id="descripcion" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-4"></div>

                    <div class="col-lg-4"></div>
                    <div class="col-lg-4 d-flex justify-content-between">
                        <button class="btn btn-primary col-4 fw-bold" type="submit">Publicar</button>
                        <a class="btn btn-primary col-4 fw-bold" href="/empleador/perfil-empleador"  role="button">Cancelar</a>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </form>
        </div>
    </div>





    <!-- <div th:replace="/fragments/componentes.html :: footer"></div> -->
</body>
</html>