<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <!--/*/ <th:block th:include="fragments/componentes.html :: head">
    </th:block> /*/-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index_style.css}" href="/css/index_style.css" type="text/css">
    <title>Proyecto Egg</title>
</head>

<body>
    <!-- NAV -->
    <div th:replace="/fragments/componentes.html :: navbar"></div>

    <div class="index">

        <h1 class="text-center py-2">Proyecto</h1>

        <div class="container text-center content">

            <h2 class="text-center py-3 h2">La solución más rápida a tu problema... <br> ¡la encontras acá!</h2>
            <div class="btn-group">
                <a class="btn btn-success" href="/busquedaEmpleo">Empleos</a>
                <a class="btn btn-success" href="/busquedaTrabajadores/todos">Trabajadores</a>
                <a class="btn btn-success" href="/busquedaEmpleadores">Empleadores</a>
            </div>
            <h1 class="h1">(PROVISORIO) Trabajadores:</h1>

            <!-- categorias de empleados disponibles, la ídea es que se vea diferente y por categorías -->
            <div class="container wrap-busquedas">
                <button type="button" class="btn btn-primary" data-bs-toggle="collapse"
                    data-bs-target="#demo">Categorias</button>
                <div id="demo" class="collapse">
                    <div class="categorias">
                        <div class="btn-group">
                            <a type="button" class="btn btn-dark" href="/busquedaTrabajadores/plomeria">Plomeria</a>
                            <a type="button" class="btn btn-dark" href="/busquedaTrabajadores/electricista">Electricista</a>
                            <a type="button" class="btn btn-dark" href="/busquedaTrabajadores/jardineria">jardineria</a>
                            <a type="button" class="btn btn-dark" href="/busquedaTrabajadores/gasista">Gasista</a>
                            <a type="button" class="btn btn-dark" href="/busquedaTrabajadores/albanileria">albañileria</a>
                            <a type="button" class="btn btn-dark" href="/busquedaTrabajadores/cerrajero">Cerrajero</a>
                            <a type="button" class="btn btn-dark" href="/busquedaTrabajadores/vidrieria">vidrieria</a>
                            <a type="button" class="btn btn-dark" href="/busquedaTrabajadores/pintura">Pintura</a>
                        </div>
                    </div>
                </div>
                <section class="busquedas">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Oficio</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Genero</th>
                                <th>Fecha de nacimiento</th>
                                <th>Habilidades</th>
                                <th>Disponibilidad</th>
                                <th>Licencia</th>
                                <th>Contacto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${trabajadores.empty}">
                                <td colspan="9" class="text-center">No hay trabajadores todavía!</td>
                            </tr>
                            <tr th:each="trabajador, itemStat : *{trabajadores}">
                                <td><span th:text="${trabajador.oficio}"> Oficio </span></td>
                                <td><span th:text="${trabajador.nombre}"> Nombre </span></td>
                                <td><span th:text="${trabajador.apellido}"> Apellido </span></td>
                                <td><span th:text="${trabajador.genero}"> Genero </span></td>
                                <td><span th:text="${trabajador.fechaNacimiento}"> Fecha de nacimiento </span></td>
                                <td><span th:text="${trabajador.skills}"> Habilidades </span></td>
                                <td><span th:text="${trabajador.disponible}? 'Si' : 'No'"> Disponibilidad </span></td>
                                <td><span th:text="${trabajador.licencia}? 'Si' : 'No'"> Licencia </span></td>
                                <td><span th:text="${trabajador.telefono}"> Teléfono </span></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
    <div th:replace="/fragments/componentes.html :: footer"></div>
</body>

</html>