<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <!--/*/ <th:block th:include="fragments/componentes.html :: head">
    </th:block> /*/-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index_style.css}" href="/css/index_style.css" type="text/css">
    <title>Proyecto Egg</title>
</head>

<body>
    <!-- NAV -->
    <div th:replace="/fragments/componentes.html :: navbar"></div>

    <div class="index">
        <h1 class="text-center py-2">Proyecto</h1>
        <div class="container text-center content">
            <h2 class="text-center py-3 h2">La solución más rápida a tu problema... <br> ¡la encontras acá!</h2>
            <div class="btn-group">
                <a class="btn btn-success" href="/busquedaEmpleo">Empleos</a>
                <a class="btn btn-success" href="/busquedaTrabajadores/todos">Trabajadores</a>
                <a class="btn btn-success" href="/busquedaEmpleadores">Empleadores</a>
            </div>
            <h1 class="h1">(PROVISORIO) Empleos:</h1>
            <section id="gallery">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mb-4 d-flex">
                            <div class="card me-3" th:each="empleos, itemStat : *{empleos}">
                                <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title" th:each="oficio, itemStat : *{empleos.oficio}" th:text="${oficio}">Card title</h5>
                                    <p class="card-text" th:text="${empleos.descripcion}"></p>
                                    <span th:text="${empleos.fechaPublicacion}"> Fecha de publicación </span>
                                    <span th:text="${'|'+empleos.empleador.nombre}"> Empleador </span>
                                    <a th:href="${'https://api.whatsapp.com/send?phone=549'+empleos.empleador.telefono+'&text=Hola%20'+empleos.empleador.nombre + ' ' + empleos.empleador.apellido +',&nbsp;te&nbsp;contacto&nbsp;por&nbsp;la&nbsp;publicación&nbsp;de&nbsp;PROYECTO'}" class="btn btn-success btn-sm" target="_blank">whatsapp</a>
                                </div>
                                <div class="card-footer">1 Hora</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div th:replace="/fragments/componentes.html :: footer"></div>
</body>
</html>



