<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <!--/*/ <th:block th:include="fragments/componentes.html :: head">
    </th:block> /*/-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/index_style.css">
    <title>Proyecto Egg</title>
</head>

<body>
    <!-- NAV -->
    <div th:replace="/fragments/componentes.html :: navbar"></div>

    <div class="index">

        <h1 class="text-center py-2">Proyecto</h1>

        <div class="container text-center content">

            <h2 class="text-center py-3">La solución más rápida a tu problema... <br> ¡la encontras acá!</h2>
            <h1>categorias:</h1>

            <!-- categorias de trabajos disponibles (Solo te envía a la lista de trabajadores, la búsqueda por categoria está WIP)-->
            <div class="wrap">
                <section class="categorias">
                    <div class="trabajos d-grid">
                        <a class="btn btn-lg btn-warning h-100" href="/busquedaTrabajadores"><input
                                type="image" id="image" src="/img/Plomero_2.png">PLOMERIA</a>
                    </div>
                    <div class="trabajos d-grid">
                        <a class="btn btn-lg btn-warning h-100" href="/busquedaTrabajadores"><input type="image"
                                id="image" src="/img/Electricista.png">ELECTRICISTA</a>
                    </div>
                    <div class="trabajos d-grid">
                        <a class="btn btn-lg btn-warning h-100" href="/busquedaTrabajadores"><input type="image"
                                id="image" src="/img/Mudanza.png">MUDANZA</a>
                    </div>
                    <div class="trabajos d-grid">
                        <a class="btn btn-lg btn-warning h-100" href="/busquedaTrabajadores"><input type="image"
                                id="image" src="/img/Gasista.png">GASISTA</a>
                    </div>
                    <div class="trabajos d-grid">
                        <a class="btn btn-lg btn-warning h-100" href="/busquedaTrabajadores"><input type="image"
                                id="image" src="/img/Albanil.png">ALBAÑILERIA</a>
                    </div>
                    <div class="trabajos d-grid">
                        <a class="btn btn-lg btn-warning h-100" href="/busquedaTrabajadores"><input type="image"
                                id="image" src="/img/Cerrajero.png">CERRAJERO</a>
                    </div>
                    <div class="trabajos d-grid">
                        <a class="btn btn-lg btn-warning h-100" href="/busquedaTrabajadores"><input type="image"
                                id="image" src="/img/Vidriero.png">VIDRIERIA</a>
                    </div>
                    <div class="trabajos d-grid">
                        <a class="btn btn-lg btn-warning h-100" href="/busquedaTrabajadores"><input type="image"
                                id="image" src="/img/Pintor.png">PINTURA</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div th:replace="/fragments/componentes.html :: footer"></div>
</body>

</html>