<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <!--/*/ <th:block th:include="fragments/componentes.html :: head">
    </th:block> /*/-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/index_style.css}" href="/css/index_style.css" type="text/css">
    <title>Proyecto Egg</title>
    <style>
      @media (min-width: 1030px) {
          .carousel-item>a>img {
              max-height: 600px;
          }
      }
      .txt-white {
          color: white;
      }
  </style>
</head>

<body>
  <!-- NAV -->
  <div th:replace="/fragments/componentes.html :: navbar"></div>
  
  <div class="index">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <a href="http://">
            <img src="/img/work.jpg" class="d-block w-100" alt="...">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <h3 class="txt-white">Sigamos trabajando juntos</h3>
            <p class="txt-white">Tanto si buscás trabajo o alguien que lo haga, estás en el lugar correcto.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <a href="http://">
            <img src="/img/ros.jpg" class="d-block w-100" alt="...">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <h3 class="txt-white">Rosario la cuidad</h3>
            <p class="txt-white">Realiza tus búsquedas según la necesidad de tu zona.</p>
          </div>
        </div>
        <div class="carousel-item">
          <a href="http://">
            <img src="/img/registro.jpg" class="d-block w-100" alt="...">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <h3 class="txt-white">Registros</h3>
            <p class="txt-white">Llena el formulario y da solución a tus problemas.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    <div class="container text-center content" sec:authorize="isAuthenticated()">
      <h1 class="text-center py-2">Proyecto</h1>
      <h2 class="text-center py-3">La solución más rápida a tu problema... <br> ¡la encontras acá!</h2>
      <!-- categorias de trabajos disponibles (Solo te envía a la lista de trabajadores, la búsqueda por categoria está WIP)-->
      <div class="wrap">
          <section class="categorias">
              <div class="trabajos-todos">
                  <a class="btn btn-warning h-100" href="/busquedaTrabajadores/todos">MOSTRAR TODOS</a>
              </div>
              <div class="trabajos d-grid gap-2" th:each="oficio : ${T(com.Grupo9.ProyectoFinal.Enum.Oficio).values()}">
                  <a class="btn btn-lg btn-warning h-100" th:href="${'/busquedaTrabajadores/'+oficio}"><input
                          type="image" id="image" th:alt="${'botón de '+oficio}" th:src="${'/img/'+oficio+'.png'}" th:text="${oficio}"></a>
              </div>
          </section>
      </div>
    </div>
  </div>
  <div th:replace="/fragments/componentes.html :: footer"></div>
</body>

</html>