<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Información</title>
    <link rel="stylesheet" href="C:\Users\Usuario\Desktop\Grupo9\ProyectoFinalEgg\src\main\resources\static\css\info.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <h1>RapiChangas</h1>
            </div>
            <div class="boton">
                <label for="btn-menu">Menú</label>
            </div>
            <input type="checkbox" id="btn-menu">
            <nav class="menu">
                <a href="#">Inicio</a>
                <a href="#">Ingresar</a>
                <a href="#">Empleos</a>
                <a href="#">Información</a>
            </nav>
        </div>
    </header>
    <section>
        <article>
            <h1>INFORMACIÓN</h1>
            <hr>
            <p id="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid saepe veniam velit molestiae corporis nulla, facere debitis perferendis, repellat incidunt dolor dolorum nemo atque beatae perspiciatis architecto vitae hic. Rem!</p>
        </article>
    </section>
    <br>
    <section>
        <h1>EQUIPO</h1>
        <hr>
        <article>
            <h1 id="wip">WORK IN PROGRESS...</h1>
        </article>
    </section>
</body>
</html>