<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="C:\Users\Usuario\Desktop\ProyectoFinalEgg\src\main\resources\static\css\info.css">
</head>
    <section id="informacion">
        <article class="article">
            <h2>Información</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dignissimos omnis vitae, distinctio laboriosam dicta doloremque voluptatibus fugiat quasi similique velit beatae officiis sint ullam dolorem est tenetur quidem sit.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, nisi. Veniam eligendi perferendis saepe quis debitis nostrum doloribus fugiat est illo, asperiores rerum quaerat doloremque omnis. Nam laboriosam accusantium odit.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat similique maiores tenetur eos quaerat est deleniti, dignissimos, illum quisquam provident voluptatibus quod cum, tempore officia? Reiciendis maiores consequuntur quibusdam quo.
            </p>
        </article>
        <article class="article">
            <h2>Equipo del proyecto</h2>
            <hr>
        </article>
    </section>
    <section class="cartas">
        <div class="container">
            <div class="card">
                <figure>
                    <img src="https://i.pinimg.com/236x/46/09/81/4609815e9587f61cb7a43b24dc367514--silvia-santos-neymar-jr.jpg">
                </figure>
                <div class="descripcion">
                    <h3>Neymar</h3>
                    <p>Front-End</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <figure>
                    <img src="https://yt3.ggpht.com/ytc/AKedOLQuCYL7K6Bg4d1dkz6pbMsQF0eanQF4KRX25urwOg=s900-c-k-c0x00ffffff-no-rj">
                </figure>
                <div class="descripcion">
                    <h3>Messi</h3>
                    <p>Front-End</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <figure>
                    <img src="https://i.pinimg.com/originals/f5/8c/aa/f58caa347d895d6e400724b7f9303caa.png">
                </figure>
                <div class="descripcion">
                    <h3>Cristiano Ronaldo</h3>
                    <p>Front-End</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <figure>
                    <img src="https://i.pinimg.com/236x/46/09/81/4609815e9587f61cb7a43b24dc367514--silvia-santos-neymar-jr.jpg">
                </figure>
                <div class="descripcion">
                    <h3>Neymar</h3>
                    <p>Back-End</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <figure>
                    <img src="https://yt3.ggpht.com/ytc/AKedOLQuCYL7K6Bg4d1dkz6pbMsQF0eanQF4KRX25urwOg=s900-c-k-c0x00ffffff-no-rj">
                </figure>
                <div class="descripcion">
                    <h3>Messi</h3>
                    <p>Back-End</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <figure>
                    <img src="https://i.pinimg.com/originals/f5/8c/aa/f58caa347d895d6e400724b7f9303caa.png">
                </figure>
                <div class="descripcion">
                    <h3>Cristiano Ronaldo</h3>
                    <p>Back-End</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>