<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/componentes.html :: head"></th:block>
  <title>Registro</title>
</head>

<body>
    <div th:include="/fragments/componentes.html :: navbar"></div>

    <div class="container">
        <div class="py-1 text-center">
            <img th:src="@{/img/sign-in.png}" src="../static/img/sign-in.png" alt="brand" class="mb-4 d-block mx-auto" width="220" height="180">
            <h2 class="text-decoration-underline">Formulario de Registro</h2>
            <p class="lead fw-bolder">Trabajador</p>
        </div>
    </div>

    <!-- Formulario -->
    <div class="container mb-5">
        <div class="row justify-content-center">
            <form th:action="@{/trabajador/registro-trabajador}" class="col-10 my-3" method="POST">
                <div class="row g-3">
                    <div class="col-12">
                        <label class="form-label fw-bolder" for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" required autofocus>
                        <div class="invalid-feedback">
                            Email es requerido.
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label fw-bolder" for="contrasena">Contraseña</label>
                        <input type="text" id="contrasena" name="contrasena" class="form-control" required>
                        <div class="invalid-feedback">
                            Contraseña es requerido.
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label fw-bolder" for="contrasena2">Repetir Contraseña</label>
                        <input type="text" id="contrasena2" name="contrasena2" class="form-control" required>
                        <div class="invalid-feedback">
                            Repetir contraseña es requerido.
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <label class="form-label fw-bolder" for="name">Nombre</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Daniel" required>
                        <div class="invalid-feedback">
                            Nombre es requerido.
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <label class="form-label fw-bolder" for="last_name">Apellido</label>
                        <input type="text" id="apellido" name="apellido" class="form-control" required>
                        <div class="invalid-feedback">
                            Apellido es requerido.
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <label class="form-label fw-bolder" for="oficio">Oficio</label>
                        <div class="col-md-6">
                            <select name="oficio" id="oficio">
                                <option selected>selecionar</option>
                                <option th:each="oficioOpt : ${T(com.Grupo9.ProyectoFinal.Enum.Oficio).values()}"
                                th:values="${oficioOpt}"
                                th:text="${oficioOpt}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <label class="form-label fw-bolder" for="telefono">Teléfono</label>
                        <input type="pass" id="telefono" name="telefono" class="form-control" required>
                        <div class="invalid-feedback">
                            Teléfono es requerido.
                        </div>
                    </div>

                    <div class="row py-3 d-flex">
                        <div class="col">
                            <label class="my-3 form-label fw-bolder" for="fechaNacimiento">Fecha de nacimiento</label>
                            <div class="col">
                                <div class="form-group">
                                    <input type="date" class="form-control" name="fechaNacimiento" id="fechaNacimiento" th:value="${#temporals.format(localDate, 'yyyy-MM-dd')}">
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex flex-column align-items-end">
                            <h4 class="mb-3 justify-content-start">Género</h4>
                            <div class="col-md-6">
                                <select name="genero" id="genero">
                                    <option selected>selecionar</option>
                                    <option th:each="generoOpt : ${T(com.Grupo9.ProyectoFinal.Enum.Genero).values()}"
                                    th:values="${generoOpt}"
                                    th:text="${generoOpt}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col d-flex flex-column align-items-center">
                            <h4 class="mb-3">Zona</h4>
                            <div class="col-md-6">
                                <select name="zona" id="zona">
                                    <option selected>selecionar</option>
                                    <option th:each="zonaOpt : ${T(com.Grupo9.ProyectoFinal.Enum.Zona).values()}"
                                    th:values="${zonaOpt}"
                                    th:text="${zonaOpt}"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">
                    <div class="col-md-6">
                        <h4 class="mb-3">Disponibilidad</h4>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="disponible" id="si" value="true">
                            <label class="form-check-label" for="si">
                              Si
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="disponible" id="no" value="no">
                            <label class="form-check-label" for="no">
                              No
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="mb-3">Licencia</h4>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="licencia" id="si" value="true">
                            <label class="form-check-label" for="si">
                              Si
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="licencia" id="no" value="no">
                            <label class="form-check-label" for="no">
                              No
                            </label>
                        </div>
                    </div>

                    <hr class="my-4">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="experiencia" class="form-label fw-bolder">Cuéntanos sobre tu experiencia.</label>
                            <textarea class="form-control" name="experiencia" id="experiencia" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="skills" class="form-label fw-bolder">Skills</label>
                            <input class="form-control" type="text" name="skills" id="skills">
                        </div>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Registrarse</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div th:replace="/fragments/componentes :: footer"></div>
</body>

</html>