<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/componentes.html :: head"></th:block>
    <title>Registro</title>
</head>

<body>
    <!-- Navbar -->
    <div th:replace="/fragments/componentes.html :: navbar"></div>

    <div class="bg-image-emp">
        <!-- Formulario -->
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-lg-4 d-flex  align-items-center  flex-column py-5" style="border: 2px solid black; background: rgba(0, 0, 0, .4); color: #FFF; margin-top: 2rem; border-radius: 15px;">
                    <h1 class="display-4">Registrate</h1>
                    <p class="lead mt-5">
                        Crea empleos referidos a tu necesidad y encuentra al candidato indicado para tú solución.
                      </p>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-7 d-flex align-items-center flex-column" style="border: 2px solid black; background: rgba(0, 0, 0, .4); color: #FFF; margin-top: 2rem; border-radius: 15px;">
                    <form th:action="@{/empleador/registro-empleador}" method="post" class="col-10 my-3">
                        <div th:if="${errorEmpleador != null}"
                            class="alert alert-danger alert-dismissible text-center align-items-center">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            <p th:text="${errorEmpleador}"></p>
                        </div>
                        <div class="row g-3">
                            <!-- Email -->
                            <div class="col-12">
                                <label class="form-label fw-bolder" for="email">Email</label>
                                <input type="email" id="email" name="email" th:value="${email}" class="form-control" required autofocus>
                            </div>
                            <!-- Contraseña -->
                            <div class="col-12 col-lg-6">
                                <label class="form-label fw-bolder" for="contrasena">Contraseña</label>
                                <input type="password" id="contrasena" name="contrasena" class="form-control" required>
                            </div>
                            <!-- Repetir contraseña -->
                            <div class="col-12 col-lg-6">
                                <div class="form-outline">
                                    <label class="form-label fw-bolder d-none d-sm-block" for="contrasena2">Repetir Contraseña</label>
                                    <label class="form-label fw-bolder d-block d-sm-none" for="contrasena2">Repite Contraseña</label>
                                    <input type="password" id="contrasena2" name="contrasena2" class="form-control" required>
                                </div>
                            </div>
                            <!-- Nombre -->
                            <div class="col-6 col-sm-6 col-md-6">
                                <label class="form-label fw-bolder" for="name">Nombre</label>
                                <input type="text" id="nombre" name="nombre" th:value="${nombre}" class="form-control" required>
                            </div>
                            <!-- Apellido -->
                            <div class="col-6 col-sm-6 col-md-6">
                                <label class="form-label fw-bolder" for="apellido">Apellido</label>
                                <input type="text" id="apellido" name="apellido" th:value="${apellido}" class="form-control" required
                                >
                            </div>
                            <!-- Fecha de nacimiento -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <label class="my-3 form-label fw-bolder" for="fechaNacimiento">Fecha de nacimiento</label>
                                <div class="form-group">
                                    <input type="date" class="form-control" name="fechaNacimiento" id="fechaNacimiento" th:value="${fechaNacimiento}" required>
                                </div>
                            </div>
                            <!-- Teléfono -->
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="my-3 form-label fw-bolder" id="telefono">Teléfono</label>
                                    <input type="text" class="form-control" name="telefono" id="telefono" th:value="${telefono}" required>
                                </div>
                            </div>
                            <!-- Tipo -->
                            <div class="col-4 col-lg-4">
                                <div class="form-group">
                                    <label class="my-3 form-label fw-bolder" id="tipo">Tipo</label>
                                    <div class="col-md-6">
                                        <select name="tipo" id="tipo" required>
                                            <option selected>selecionar</option>
                                            <option th:each="tipoOpt : ${T(com.Grupo9.ProyectoFinal.Enum.Tipo).values()}"
                                            th:values="${tipoOpt}"
                                            th:text="${tipoOpt}" th:selected="${tipoOpt==tipo}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Género -->
                            <div class="col-4 col-lg-4">
                                <label class="my-3 form-label fw-bolder" id="tipo">Género</label>
                                <div class="col-md-6">
                                    <select name="genero" id="genero" required>
                                        <option selected>selecionar</option>
                                        <option th:each="generoOpt : ${T(com.Grupo9.ProyectoFinal.Enum.Genero).values()}"
                                        th:values="${generoOpt}"
                                        th:text="${generoOpt}" th:selected="${generoOpt==genero}"></option>
                                    </select>
                                </div>
                            </div>
                            <!-- Zona -->
                            <div class="col-4 col-lg-4">
                                <label class="my-3 form-label fw-bolder" id="tipo">Zona</label>
                                <div class="col-md-6">
                                    <select name="zona" id="zona" required>
                                        <option selected>selecionar</option>
                                        <option th:each="zonaOpt : ${T(com.Grupo9.ProyectoFinal.Enum.Zona).values()}"
                                        th:values="${zonaOpt}"
                                        th:text="${zonaOpt}" th:selected="${zonaOpt==zona}"></option>
                                    </select>
                                </div>
                            </div>                            
                            <hr class="my-4">
            
                            <div class="col col-lg-12 d-grid">
                                <button class="btn btn-primary" type="submit">Registrarse</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Footer -->
    <div th:replace="/fragments/componentes :: footer"></div>
</body>

</html>