<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/componentes.html :: head"></th:block>
  <title>Registro</title>
</head>

<body>
    <div th:include="/fragments/componentes.html :: navbar"></div>
    
    <div class="container">
        <div class="py-1 text-center">
            <img th:src="@{/img/sign-in.png}" src="../static/img/sign-in.png" alt="brand" class="mb-4 d-block mx-auto" width="220" height="180">
            <h2 class="text-decoration-underline">Formulario de Registro</h2>
            <p class="lead fw-bolder">Empleado</p>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">

            <form action="" class="col-10 my-3" novalidate>
                <div class="row g-3">
                    <div class="col-sm-6 col-md-12">
                        <label class="form-label fw-bolder" for="name">Nombre</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Daniel" required autofocus>
                        <div class="invalid-feedback">
                            Nombre es requerido.
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-12">
                        <label class="form-label fw-bolder" for="last_name">Apellido</label>
                        <input type="text" id="apellido" name="apellido" class="form-control" required>
                        <div class="invalid-feedback">
                            Apellido es requerido.
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="form-label fw-bolder" for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                        <div class="invalid-feedback">
                            Email es requerido.
                        </div>
                    </div>
    
                    <div class="row py-3 d-flex">
                        <div class="col">
                            <h4 class="mb-3 justify-content-start">Género</h4>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="genero" id="mujer">
                                    <label class="form-check-label" for="mujer">
                                      Mujer
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="genero" id="hombre">
                                    <label class="form-check-label" for="hombre">
                                      Hombre
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="genero" id="otro">
                                    <label class="form-check-label" for="otro">
                                      Otro
                                  </label>
                                </div>
                                <div class="invalid-feedback">
                                    Género es requerido.
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <h4 class="mb-3 ">Profesión</h4>
                            <div class="col-md-6">                        
                                <select name="" id="profesion" class="form-control">
                                    <option value="">Seleccionar</option>
                                    <option value="plomero" name="eleccion_profecion">Plomero</option>
                                    <option value="gasista" name="eleccion_profecion">Gasista</option>
                                    <option value="electricista" name="eleccion_profecion">Electricista</option>
                                    <option value="cerrajero" name="eleccion_profecion">Cerrajero</option>
                                    <option value="otro" name="eleccion_profecion">Otro</option>
                                </select>
                                <div class="invalid-feedback">
                                    Profesión es requerido.
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <hr class="my-4">
                    <div class="row">
                        <h4 class="mb-3">Zona de trabajo</h4>    
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="norte" id="eleccion_zona">
                            <label class="form-check-label" for="eleccion_zona">
                              Norte
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="sur" id="eleccion_zona">
                            <label class="form-check-label" for="eleccion_zona">
                              Sur
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="este" id="eleccion_zona">
                            <label class="form-check-label" for="eleccion_zona">
                              Este
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="oeste" id="eleccion_zona">
                            <label class="form-check-label" for="eleccion_zona">
                              Oeste
                            </label>
                          </div>
                    </div>
                    
                    <hr class="my-4">
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Escribe una breve descripción.</label>
                        <textarea class="form-control" name="descripcion" id="descripcion" rows="5"></textarea>
                    </div>
    
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Registrarse</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    
    <div th:replace="/fragments/componentes :: footer"></div>

    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js}" integrity="sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>